html,
body {
  /* 메인폰트 */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #b79f9f;
}

body,
main,
section {
  margin: 0 auto;
}

main,
.section1,
.section2,
.section3 {
  padding: 0% 16%;
}

main,
.section1,
.section3 {
  padding-top: 15%;
}

li {
  list-style: none;
}

/* 세컨드 폰트(작은 글씨) */
p {
  font-family: "Gothic";
  color: #735b5b;
}

/*HEADER*/

/* navbar */
header {
  position: relative;
}

.navbar-default {
  background-color: #e2e2e2;
}

.navbar-default {
  border-color: none;
  padding: 0.5% 0.5%;
  width: 100%;
}

.navbar-fixed-top {
  top: 15px;
  border-width: 0%;
  box-shadow: 0px 1px 12px #646464;
}

.container {
  width: 90%;
}

#brand,
.navbar-default .navbar-nav > li > a,
.arrow-down {
  color: #735b5b;
  font-size: 16px;
}

/* navbar hover */
.navbar-default .navbar-nav > li > a:hover,
.container #brand:hover {
  color: #b79f9f;
}

.navbar-header a:after,
header nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0%;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbar-header a:hover:after,
header nav a:hover:after {
  width: 100%;
  background: #b79f9f;
}

/* MAIN */

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main article {
  padding-top: 120px;
}

main article h1 {
  color: #e0daca;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 40px;
  text-shadow: 2px 2px 5px #564646;
}

main article div p {
  margin: 0;
  text-align: center;
}

main article div p:nth-child(3) {
  margin-top: 40px;
  background-color: #e2e2e2;
  width: 152px;
  height: 32px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 48px;
}

main article div p:nth-child(3) a {
  text-decoration: none;
  color: #735b5b;
}

main aside {
  position: relative;
  z-index: 1;
}

main aside img {
  width: 850px;
  height: auto;
  box-shadow: 8px 2px 10px 3px #564646, 0px 0px 0px #735b5b;
  margin-right: -4px;
}

main aside span {
  background-color: #8c857a;
  position: absolute;
  top: 341px;
  left: 378px;
  display: block;
  width: 541px;
  height: 151px;
  z-index: -1;
  box-shadow: 1px 2px 3px #8c857a;
}

/* SECTION */

section p {
  font-weight: bold;
}

section h2 {
  color: #e0daca;
  text-transform: lowercase;
  font-size: 38px;
}

section .number {
  font-size: 16px;
  margin: 0;
}

/* section1 */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section1 article,
.section2 article {
  display: inline-block;
  width: 455px;
  height: 300px;
  text-align: center;
}

.section1 .article1 {
  position: relative;
}

.section1 .article1 .art_line_wrap {
  position: absolute;
  top: -15px;
  left: -66px;
}

.section1 .article1 .art_line1 {
  display: block;
  background-color: #e0daca;
  width: 185px;
  height: 3px;
  position: absolute;
  top: -78px;
  left: 0;
}

.section1 .article1 .art_line2 {
  display: block;
  background-color: #e0daca;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 13px;
  left: -91px;
  transform: rotate(90deg);
}

.section1 article h2,
.section2 article h2 {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 38px;
}

.section1 .article1 .color_container {
  display: flex;
  justify-content: center;
}

.section1 .article1 .color_container .color_wrap span {
  background-color: #978774;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}

.section1 .article1 .color_container .color_wrap .color2 {
  background-color: #313131;
}

.section1 .article1 .color_container .color_wrap .color3 {
  background-color: #ffffff;
}

.section1 .article1 .color_container .color_margin {
  margin: 0px 80px;
}

.section1 .article1 .color_container .color_wrap > p {
  font-size: 14px;
}

.section1 .article2 img {
  width: 95px;
  height: auto;
}

.section1 .article2 .skill-img {
  margin: 0px 60px;
}

/* section2 */
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section2 .article3,
.section2 .article4 {
  height: 200px;
}

.section2 article .sec2_content {
  margin: 0;
  padding: 0px 22px;
}

.section2 .article4 {
  position: relative;
}

.section2 .art_line_wrap {
  position: absolute;
  top: 197px;
  right: -162px;
}

.section2 .art_line1 {
  display: block;
  background-color: #e0daca;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 93px;
  right: 91px;
}

.section2 .art_line2 {
  display: block;
  background-color: #e0daca;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(90deg);
}

/* section3 */
.section3 {
  overflow: hidden;
  width: 99vw;
  height: 367vh;
  margin-bottom: 20vh;
  position: relative;
}

.section3_box {
  background-color: #d0cdcd;
  display: block;
  width: 120px;
  height: 10%;
  position: absolute;
  top: 29vh;
  right: 0px;
}

.section3 .section3_title {
  width: 100%;
  text-align: center;
  margin-bottom: 20vh;
}

.section3 .LH_wrap {
  width: 72vw;
  position: relative;
}

/* before */
.section3 .LH_wrap .LH_before {
  width: 33vw;
  position: absolute;
  top: 0vh;
  left: -2vw;
}

.section3 .LH_wrap .LH_before .LH_before_title h1,
.section3 .LH_wrap .LH_after .LH_after_title h1 {
  text-align: center;
  background-color: #d9d9d9;
  width: 12vw;
  border-radius: 17px;
  font-weight: 600;
  color: #b79f9f;
  z-index: 1;
  font-size: 1.5vw;
  position: absolute;
  top: -3.5vh;
  left: 10.5vw;
}

.section3 .LH_wrap .LH_before .LH_before_img,
.section3 .LH_wrap .LH_after .LH_after_img {
  border: 0.3vw solid #e0daca;
  padding: 1.2vw;
}

.section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap,
.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap {
  width: 30vw;
  position: relative;
}

.section3 .LH_wrap .LH_before .LH_before_img img,
.section3 .LH_wrap .LH_after .LH_after_img img {
  width: 30vw;
}

.section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap span,
.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap span {
  background-color: #735b5b;
  color: #e2e2e2;
  width: 1.3vw;
  height: auto;
  position: absolute;
  top: 0.1%;
  right: 12.5vw;
  text-align: center;
  font-size: 0.8vw;
  border-radius: 3px;
  font-weight: bold;
}

.section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap .num2 {
  top: 2.9%;
  left: 0;
}

.section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap .num3 {
  top: 19.7%;
  left: 1.3vw;
}

.section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap .num4 {
  top: 97.5%;
  right: 2.5vw;
}

/* before 설명 */
.before_contents {
  width: 15.5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 25vh;
  right: 11vw;
}

.before_contents > div {
  padding-bottom: 6vh;
  position: relative;
}

.before_contents > div > p {
  font-size: 0.8vw;
}

.before_contents > div > p span,
.after_contents > div > p span {
  background-color: #735b5b;
  color: #e2e2e2;
  width: 1.3vw;
  height: auto;
  position: absolute;
  top: 1%;
  left: -2vw;
  text-align: center;
  font-size: 0.8vw;
  border-radius: 3px;
  font-weight: bold;
}

/* after */
.section3 .LH_wrap .LH_after {
  position: absolute;
  top: 92vh;
  right: 2.7vw;
  width: 33vw;
}

.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap span {
  position: absolute;
  top: 1.5%;
  right: 7.5vw;
}

.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap .num2 {
  top: 3.8%;
  right: 69.1%;
}

.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap .num3 {
  top: 19.5%;
  left: 1.3vw;
}

.section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap .num4 {
  top: 97.5%;
  right: 2.5vw;
}

/* after 설명 */
.after_contents {
  width: 16vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0vh;
  left: 7.5vw;
  margin-top: 168%;
}

.after_contents > div {
  padding-bottom: 6vh;
  position: relative;
}

.after_contents > div > p {
  font-size: 0.8vw;
}

/*FOOTER*/

footer {
  background-color: #e2e2e2;
  color: #735b5b;
}

footer .social {
  margin: 60px 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer h3 {
  font-size: 36px;
  text-align: left;
  width: 100%;
  margin: 0;
  padding-bottom: 16px;
}

footer .contact_ulwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .container .contact_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px;
  padding: 0px;
}

footer .container .contact_icon li {
  width: 100%;
}

footer .container .contact_icon .mail {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

footer .container .contact_icon .mail p {
  display: inline-block;
  padding-left: 10px;
  margin: 0px;
}

footer .container .contact_icon .tel {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

footer .container .contact_icon .tel p {
  display: inline-block;
  padding-left: 10px;
  margin: 0px;
}

footer .container .list-inline {
  margin-left: 0;
}

footer a {
  color: #735b5b;
  transition: color 0.3s linear;
}

footer a:hover {
  color: #b79f9f;
}

footer h3,
.container .contact_icon .mail,
.container .list-inline li {
  margin-bottom: 10px;
}

footer ul,
footer small {
  display: inline;
}

footer small {
  margin: 0px 14px;
  font-size: 14px;
}

footer small p {
  margin: 0;
}

@media screen and (max-width: 1650px) {
  /* main */
  main article {
    padding-top: 100px;
  }

  main article h1 {
    font-size: 36px;
  }

  main article div p {
    font-size: 14px;
  }

  main article div p:nth-child(3) {
    margin-left: 40px;
  }

  main aside img {
    width: 760px;
  }

  main aside span {
    top: 300px;
    left: 341px;
    width: 476px;
    height: 132px;
  }
  /* section3 */
  .section3 {
    height: 344vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap .num2 {
    top: 3%;
    left: 0;
  }
  .before_contents {
    top: 23vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 87vh;
  }
  .after_contents {
    top: -2vh;
  }
}

@media screen and (max-width: 1536px) {
  section .number {
    font-size: 14px;
  }

  .section1 article h2,
  .section2 article h2 {
    font-size: 36px;
  }

  .section1 .article1 .color_container .color_wrap span {
    width: 70px;
    height: 70px;
  }

  .section1 .article1 .color_container .color_margin {
    margin: 0px 70px;
  }

  .section1 .article2 img {
    width: 85px;
    height: auto;
  }
  .section2 article .sec2_content {
    font-size: 14px;
    padding: 0px 39px;
  }
  /* section3 */
  .section3 {
    height: 372vh;
    width: 98vw;
  }
  .before_contents {
    top: 21vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 81vh;
  }
  .after_contents {
    top: -1vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_title h1,
  .section3 .LH_wrap .LH_after .LH_after_title h1 {
    top: -4vh;
  }
}

@media screen and (max-width: 1470px) {
  /* main */
  main article {
    padding-top: 80px;
  }

  main article h1 {
    font-size: 30px;
  }

  main article div p {
    font-size: 12px;
  }

  main article div p:nth-child(3) {
    margin-left: 40px;
    width: 124px;
    height: 26px;
    margin-top: 30px;
  }

  main aside img {
    width: 650px;
  }

  main aside span {
    top: 260px;
    left: 287px;
    width: 426px;
    height: 118px;
  }
}

@media screen and (max-width: 1440px) {
  /* section3 */
  .section3 {
    height: 304vh;
  }
  .section3_box {
    width: 110px;
    height: 10%;
    top: 24vh;
  }
  .before_contents {
    top: 20vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 76vh;
  }
  .after_contents {
    top: -2vh;
  }
}

@media screen and (max-width: 1250px) {
  /* main */
  main article {
    padding-top: 66px;
  }

  main article h1 {
    font-size: 25px;
    padding-bottom: 4px;
  }

  main article div p {
    font-size: 10px;
  }

  main article div p:nth-child(3) {
    margin-left: 40px;
    width: 82px;
    height: 22px;
    margin-top: 27px;
  }

  main aside img {
    width: 575px;
  }

  main aside span {
    top: 231px;
    left: 250px;
    width: 375px;
    height: 100px;
  }

  /* Detail */
  section .number {
    font-size: 12px;
  }

  .section1 article h2,
  .section2 article h2 {
    font-size: 34px;
  }

  .section1 .article1 .color_container .color_wrap span {
    width: 60px;
    height: 60px;
  }

  .section1 .article1 .color_container .color_margin {
    margin: 0px 60px;
  }

  .section1 .article1 .color_container .color_wrap > p {
    font-size: 12px;
  }

  .section1 .article2 img {
    width: 75px;
    height: auto;
  }

  .section1 .article2 .skill-img {
    margin: 0px 50px;
  }

  .section2 article .sec2_content {
    font-size: 12px;
    padding: 0px 39px;
  }
  /* section3 */
  .section3 {
    height: 267vh;
  }
  .section3_box {
    width: 105px;
    top: 21vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_title h1,
  .section3 .LH_wrap .LH_after .LH_after_title h1 {
    top: -3.2vh;
  }
  .before_contents {
    top: 15vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 66vh;
  }
  .after_contents {
    top: -4vh;
  }
}

@media screen and (max-width: 1090px) {
  /* main */
  main article {
    padding-top: 50px;
  }

  main article h1 {
    font-size: 25px;
    padding-bottom: 4px;
  }

  main article div p {
    font-size: 10px;
  }

  main article div p:nth-child(3) {
    margin-left: 40px;
    width: 82px;
    height: 22px;
    margin-top: 25px;
  }

  main aside img {
    width: 510px;
  }

  main aside span {
    top: 206px;
    left: 217px;
    width: 339px;
    height: 87px;
  }
  /* section3 */
  .section3 {
    height: 236vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_title h1,
  .section3 .LH_wrap .LH_after .LH_after_title h1 {
    top: -3.1vh;
  }
  .before_contents {
    top: 9vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 57vh;
  }
  /* footer */
  footer h3 {
    text-align: center;
  }
  footer .contact_ulwrap {
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .container .contact_icon {
    width: 100%;
    justify-content: center;
  }
  footer .container .contact_icon .mail {
    justify-content: center;
  }
  footer .container .contact_icon .tel {
    justify-content: center;
    margin-left: -45px;
    margin-bottom: 20px;
  }
  .contact_ulright {
    text-align: center;
  }
  footer .container .list-inline {
    margin-left: 1px;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 1024px) {
  /* main */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  main article {
    padding-top: 0px;
    width: 73%;
    margin-bottom: 20px;
    position: relative;
  }

  main article h1 {
    text-align: none;
  }

  main article div p {
    text-align: left;
  }

  main article div p:nth-child(3) {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 100px;
    z-index: 3;
  }

  main aside {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  main aside img {
    width: 73%;
  }
  main aside span {
    display: none;
  }

  /* Detail */

  section .number {
    font-size: 16px;
  }

  .section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 66px;
  }

  .section1 article {
    width: 455px;
    height: 240px;
  }

  .section1 article h2,
  .section2 article h2 {
    font-size: 38px;
  }

  .section1 .article1 .art_line_wrap {
    position: absolute;
    top: -22px;
    left: -22px;
  }

  .section1 .article1 .color_container .color_wrap span {
    width: 60px;
    height: 60px;
  }

  .section1 .article1 .color_container .color_margin {
    margin: 0px 60px;
  }

  .section1 .article1 .color_container .color_wrap > p {
    font-size: 11px;
  }

  .section1 .article2 img {
    width: 70px;
    height: auto;
  }

  .section1 .article2 .skill-img {
    margin: 0px 40px;
  }

  .section2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .section2 article .sec2_content {
    font-size: 12px;
    padding: 0px 66px;
  }

  .section2 .art_line_wrap {
    position: absolute;
    top: 152px;
    right: -116px;
  }

  /* section3 */
  .section3 {
    height: 225vh;
  }
  .section3_box {
    width: 103px;
    height: 13%;
    top: 14vh;
  }
  .before_contents {
    top: 8vh;
  }
  .section3 .LH_wrap .LH_after {
    top: 54vh;
  }
  .after_contents {
    top: -7vh;
  }
}

@media screen and (max-width: 768px) {
  /* section1 */
  .section1 .article1 .art_line_wrap {
    display: none;
  }
  /* section2 */
  .section2 .art_line_wrap {
    display: none;
  }
  /* section3 */
  .section3 {
    height: 166vh;
    margin-bottom: 10vh;
  }
  .section3_box {
    width: 70px;
    height: 11%;
    top: 13vh;
  }
  .section3 .section3_title {
    margin-bottom: 10vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_title h1,
  .section3 .LH_wrap .LH_after .LH_after_title h1 {
    top: -2.8vh;
  }
  .section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap span,
  .section3 .LH_wrap .LH_after .LH_after_img .after_img_wrap span {
    width: 2vw;
    top: 0%;
  }
  .section3 .LH_wrap .LH_before .LH_before_img .before_img_wrap .num4 {
    top: 97.2%;
  }
  .before_contents {
    top: 7vh;
    right: 6.5vw;
    width: 22.5vw;
  }
  .before_contents > div {
    padding-bottom: 2vh;
  }
  .before_contents > div > p span,
  .after_contents > div > p span {
    width: 2vw;
    left: -3vw;
  }
  .section3 .LH_wrap .LH_after {
    top: 40vh;
  }
  .after_contents {
    top: -4vh;
    left: 4.5vw;
    width: 24vw;
  }
  .after_contents > div {
    padding-bottom: 2vh;
  }
}
