html,
body {
  /* 메인폰트 */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #0d2e3f;
}

body,
main,
section {
  margin: 0 auto;
}

main,
.section1,
.section2,
.section3 {
  padding: 0% 16%;
}

main,
.section1,
.section3 {
  padding-top: 15%;
}

li {
  list-style: none;
}

/* 세컨드 폰트(작은 글씨) */
p {
  font-family: "Gothic";
  color: #8c857a;
}

/*HEADER*/

/* navbar */
header {
  position: relative;
}

.navbar-default {
  background-color: #0d2e3f;
}

.navbar-default {
  border-color: #0d2e3f;
  padding: 0.5% 0.5%;
  width: 100%;
}

.navbar-fixed-top {
  top: 15px;
  border-width: 0%;
  box-shadow: 0px 1px 12px #646464;
}

.container {
  width: 90%;
}

#brand,
.navbar-default .navbar-nav > li > a,
.arrow-down {
  color: #f19892;
  font-size: 16px;
}

/* navbar hover */
.navbar-default .navbar-nav > li > a:hover,
.container #brand:hover {
  color: #b79f9f;
}

.navbar-header a:after,
header nav a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0%;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbar-header a:hover:after,
header nav a:hover:after {
  width: 100%;
  background: #b79f9f;
}

/* MAIN */

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main article {
  padding-top: 120px;
}

main article h1 {
  color: #f19892;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 40px;
  text-shadow: 2px 2px 5px #564646;
  text-align: center;
}

main article div p {
  margin: 0;
  text-align: center;
}

main article div p:nth-child(3) {
  background-color: #0a4966;
  width: 152px;
  height: 32px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 56px;
  margin-top: 40px;
}

main article div p:nth-child(3) a {
  text-decoration: none;
  color: #f19892;
}

main aside {
  position: relative;
  z-index: 1;
}

main aside img {
  width: 850px;
  height: auto;
  box-shadow: 8px 2px 10px 3px #8b8b8b, 0px 0px 0px #735b5b;
  margin-right: -4px;
}

main aside span {
  background-color: #0a4966;
  position: absolute;
  top: 341px;
  left: 378px;
  display: block;
  width: 541px;
  height: 151px;
  z-index: -1;
}

/* SECTION */

section p {
  font-weight: bold;
}

section h2 {
  color: #5a6585;
  text-transform: lowercase;
  font-size: 38px;
}

section .number {
  font-size: 16px;
  margin: 0;
}

/* section1 */
.section1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section1 article,
.section2 article {
  display: inline-block;
  width: 455px;
  height: 300px;
  text-align: center;
}

.section1 .article1 {
  position: relative;
}

.section1 .article1 .art_line_wrap {
  position: absolute;
  top: -15px;
  left: -66px;
}

.section1 .article1 .art_line1 {
  display: block;
  background-color: #5a6585;
  width: 185px;
  height: 3px;
  position: absolute;
  top: -78px;
  left: 0;
}

.section1 .article1 .art_line2 {
  display: block;
  background-color: #5a6585;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 13px;
  left: -91px;
  transform: rotate(90deg);
}

.section1 article h2,
.section2 article h2 {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 38px;
}

.section1 .article1 .color_container {
  display: flex;
  justify-content: center;
}

.section1 .article1 .color_container .color_wrap span {
  background-color: #1a1f26;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}

.section1 .article1 .color_container .color_wrap .color2 {
  background-color: #afb3b6;
}

.section1 .article1 .color_container .color_wrap .color3 {
  background-color: #eeeeee;
}

.section1 .article1 .color_container .color_margin {
  margin: 0px 80px;
}

.section1 .article1 .color_container .color_wrap > p {
  font-size: 14px;
}

.section1 .article2 img {
  width: 95px;
  height: auto;
}

.section1 .article2 .skill-img {
  margin: 0px 60px;
}

/* section2 */
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.section2 .article3,
.section2 .article4 {
  height: 200px;
}

.section2 article .sec2_content {
  margin: 0;
  padding: 0px 22px;
}

.section2 .article4 {
  position: relative;
}

.section2 .art_line_wrap {
  position: absolute;
  top: 197px;
  right: -162px;
}

.section2 .art_line1 {
  display: block;
  background-color: #5a6585;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 93px;
  right: 91px;
}

.section2 .art_line2 {
  display: block;
  background-color: #5a6585;
  width: 185px;
  height: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: rotate(90deg);
}

/* section3 */
.section3 {
  padding: 0% 12%;
  padding-top: 15%;
  padding-bottom: 10%;
}
.section3_title {
  text-align: center;
  margin-bottom: 150px;
}
.em {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.em img {
  width: 680px;
  height: 408px;
  border: 3px solid #5a6585;
  object-fit: cover;
}
.em > p {
  width: 32%;
  margin: 0px 106px;
}
.em > p::before {
  content: "";
  width: 3px;
  height: 73px;
  background-color: #5a6585;
  display: inline-block;
  position: absolute;
  margin-left: -20px;
}

/*FOOTER*/

footer {
  background-color: #0a4966;
  color: #8c857a;
}

footer .social {
  margin: 60px 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer h3 {
  font-size: 36px;
  text-align: left;
  width: 100%;
  margin: 0;
  padding-bottom: 16px;
}

footer .contact_ulwrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .container .contact_icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0px;
  padding: 0px;
}

footer .container .contact_icon li {
  width: 100%;
}

footer .container .contact_icon .mail {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

footer .container .contact_icon .mail p {
  display: inline-block;
  padding-left: 10px;
  margin: 0px;
}

footer .container .contact_icon .tel {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

footer .container .contact_icon .tel p {
  display: inline-block;
  padding-left: 10px;
  margin: 0px;
}

footer .container .list-inline {
  margin-left: 0;
}

footer a {
  color: #0d2e3f;
  transition: color 0.3s linear;
}

footer a:hover {
  color: #f19892;
}

footer h3,
.container .contact_icon .mail,
.container .list-inline li {
  margin-bottom: 10px;
}

footer ul,
footer small {
  display: inline;
}

footer small {
  margin: 0px 14px;
  font-size: 14px;
}

footer small p {
  margin: 0;
}

@media screen and (max-width: 1872px) {
  /* section3 modal */
  .em > .modal_p::before {
    height: 98px;
  }
}

@media screen and (max-width: 1650px) {
  /* main */
  main article {
    padding-top: 100px;
  }
  main article h1 {
    font-size: 36px;
  }
  main article div p {
    font-size: 14px;
  }
  main aside img {
    width: 760px;
  }
  main aside span {
    top: 300px;
    left: 341px;
    width: 476px;
    height: 132px;
  }

  /* section3 modal */
  .em > .login_p::before {
    height: 98px;
  }
}

@media screen and (max-width: 1589px) {
  /* section3 modal */
  .em > .slider_p::before {
    height: 98px;
  }
}

@media screen and (max-width: 1536px) {
  section .number {
    font-size: 14px;
  }
  .section1 article h2,
  .section2 article h2 {
    font-size: 36px;
  }
  .section1 .article1 .color_container .color_wrap span {
    width: 70px;
    height: 70px;
  }
  .section1 .article1 .color_container .color_margin {
    margin: 0px 70px;
  }
  .section1 .article2 img {
    width: 85px;
    height: auto;
  }
  .section2 article .sec2_content {
    font-size: 14px;
    padding: 0px 39px;
  }
}

@media screen and (max-width: 1470px) {
  /* main */
  main article {
    padding-top: 80px;
  }
  main article h1 {
    font-size: 30px;
  }
  main article div p {
    font-size: 12px;
  }
  main article div p:nth-child(3) {
    width: 124px;
    height: 26px;
    margin-top: 30px;
  }
  main aside img {
    width: 650px;
  }
  main aside span {
    top: 260px;
    left: 287px;
    width: 426px;
    height: 118px;
  }

  /* section3 */
  .em {
    flex-wrap: wrap;
    justify-content: center;
  }
  .em_modal {
    flex-direction: column-reverse;
  }
  .em > p {
    margin-top: 50px;
    width: 518px;
  }
  .em > .slider_p::before,
  .em > .modal_p::before,
  .em > .login_p::before {
    height: 53px;
  }
}

@media screen and (max-width: 1250px) {
  /* main */
  main article {
    padding-top: 66px;
  }

  main article h1 {
    font-size: 25px;
    padding-bottom: 4px;
  }

  main article div p {
    font-size: 10px;
  }

  main article div p:nth-child(3) {
    width: 82px;
    height: 22px;
    margin-top: 27px;
  }

  main aside img {
    width: 575px;
  }

  main aside span {
    top: 231px;
    left: 250px;
    width: 375px;
    height: 100px;
  }

  /* Detail */
  section .number {
    font-size: 12px;
  }

  .section1 article h2,
  .section2 article h2 {
    font-size: 34px;
  }

  .section1 .article1 .color_container .color_wrap span {
    width: 60px;
    height: 60px;
  }

  .section1 .article1 .color_container .color_margin {
    margin: 0px 60px;
  }

  .section1 .article1 .color_container .color_wrap > p {
    font-size: 12px;
  }

  .section1 .article2 img {
    width: 75px;
    height: auto;
  }

  .section1 .article2 .skill-img {
    margin: 0px 50px;
  }

  .section2 article .sec2_content {
    font-size: 12px;
    padding: 0px 39px;
  }
}

@media screen and (max-width: 1090px) {
  /* main */
  main article {
    padding-top: 50px;
  }

  main article h1 {
    font-size: 25px;
    padding-bottom: 4px;
  }

  main article div p {
    font-size: 10px;
  }

  main article div p:nth-child(3) {
    width: 82px;
    height: 22px;
    margin-top: 25px;
  }

  main aside img {
    width: 510px;
  }

  main aside span {
    top: 206px;
    left: 217px;
    width: 339px;
    height: 87px;
  }
  /* footer */
  footer h3 {
    text-align: center;
  }
  footer .contact_ulwrap {
    justify-content: center;
    flex-wrap: wrap;
  }
  footer .container .contact_icon {
    width: 100%;
    justify-content: center;
  }
  footer .container .contact_icon .mail {
    justify-content: center;
  }
  footer .container .contact_icon .tel {
    justify-content: center;
    margin-left: -45px;
    margin-bottom: 20px;
  }
  .contact_ulright {
    text-align: center;
  }
  footer .container .list-inline {
    margin-left: 1px;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (max-width: 1024px) {
  /* main */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  main article {
    padding-top: 0px;
    width: 73%;
    margin-bottom: 20px;
    position: relative;
  }

  main article h1 {
    text-align: none;
  }

  main article div p {
    text-align: left;
  }

  main article div p:nth-child(3) {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 100px;
    z-index: 3;
  }

  main aside {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  main aside img {
    width: 73%;
  }
  main aside span {
    display: none;
  }

  /* Detail */

  section .number {
    font-size: 16px;
  }

  .section1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 66px;
  }

  .section1 article {
    width: 455px;
    height: 240px;
  }

  .section1 article h2,
  .section2 article h2 {
    font-size: 38px;
  }

  .section1 .article1 .art_line_wrap {
    position: absolute;
    top: -22px;
    left: -22px;
  }

  .section1 .article1 .color_container .color_wrap span {
    width: 60px;
    height: 60px;
  }

  .section1 .article1 .color_container .color_margin {
    margin: 0px 60px;
  }

  .section1 .article1 .color_container .color_wrap > p {
    font-size: 11px;
  }

  .section1 .article2 img {
    width: 70px;
    height: auto;
  }

  .section1 .article2 .skill-img {
    margin: 0px 40px;
  }

  .section2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .section2 article .sec2_content {
    font-size: 12px;
    padding: 0px 66px;
  }
  .section2 .art_line_wrap {
    position: absolute;
    top: 152px;
    right: -116px;
  }
}
